@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&family=Roboto:wght@300;400;500&display=swap');


#footercontainer{
    padding: 10px 20px;
}
#footercontainer h2{
    font-size: 17px;
    font-weight: 700;
}
#footercontainer h1{
   font-size: 45px;
   font-family: "Oswald",sans-serif;
   font-weight: bold;
}

#footercontainer p{
    font-family: "Roboto",sans-serif;
    font-size: 22px;
  }
  .afterdelta {
    background-color: whitesmoke;
    height: 70px;
    padding: 5px 10px;
    width: 50px;
    margin: 0 10px;
  }
  .afterdelta p:nth-child(1){
    align-items: center;
    font-size: 15px !important;
  }
  .afterdelta p:nth-child(2){
    width: 50px;
    padding: 0 10px;
   margin-left: -10px;
   text-align: center;
   font-weight: 900;
   background-color: #33a0f8 !important;
   color: white;
   font-size: 15px !important;
  }
  .openp p{
    font-size: 14px !important;
  }

  .openp a{
    color: black;
    font-size: 15px;
  }
  .openicon{
    font-size: 13px;
    margin-left: 7px;
  }

  @media(max-width:950px){
    #footercontainer{
        padding: 10px 7px;
    }
    #footercontainer h2{
        font-size: 18px;
    }
    #footercontainer h1{
       font-size: 25px;
       font-family: "Oswald",sans-serif;
       font-weight: bold;
    }
    
    #footercontainer p{
        font-family: "Roboto",sans-serif;
        font-size: 18px;
      }
      .afterdelta {
        background-color: whitesmoke;
        height: 80px;
        padding: 5px 10px;
        width: 53px;
        margin: 0 10px;
      }
      .afterdelta p:nth-child(1){
        align-items: center;
      }
      .afterdelta p:nth-child(2){
        width: 53px;
        padding: 0 10px;
       margin-left: -10px;
       text-align: center;
       font-weight: 600;
       background-color: #33a0f8 !important;
       color: white;
      }
      .openp p{
        font-size: 16px !important;
        color: gray;
      }
    
      .openp a{
        color: black;
        font-size: 16px;
        margin-top: -15px;
       float: right;
       margin-right: 20px;
      }
      .openicon{
        font-size: 12px;
        margin-left: 7px;
      }
  }