@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&family=Roboto:wght@300;400;500&display=swap');


.flip-card {
    background-color: transparent;
    align-items: center;
    justify-content: center;
    display: block;
    width: 92%;
    height:500px;
    border:none;
     /* perspective: 1000px;  */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.3s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: white;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #d3d3d3;
    color: white;
    transform: rotateY(180deg);
  }
  .flip-card-front img{
    width: 300px;
    height: 200px;
  }

  /* ********************************88des element of my contains  */

  #mycontain{
    background-color:#4190f6;
   height: 400px;
  padding: 50px 0;
  margin: 10px 0;
  }
  #myrow h3{
    color: white;
    font-family: "Roboto",sans-serif;
    font-size: 35px;
  }
  #myrow p{
    font-family: "Roboto",sans-serif;
    font-size: 21px;
    color: #d3d3d3;
  }
  .mybtn{
    padding: 12px 14px;
    color: white;
    background-color: black;
    border-radius: 5px;
    font-weight: bold;
    border: none;
  }
 .mybtn:hover{
    background-color: rgb(17, 17, 17);
  }
  #myrow h2{
    font-size: 40px;
    color: white;
    font-weight: bold;
    font-family: "Roboto",sans-serif;
  }
  .btnall button{
font-size: 24px;
color: white;
margin-top: -30px;
  }

  @media(max-width:800px){
    #mycontain{
     height: 500px;
    padding: 20px 0;
    }
    #myrow h3{
      color: white;
      font-family: "Roboto",sans-serif;
      font-size: 24px;
      text-align: center;
    }
    #myrow p{
      font-family: "Roboto",sans-serif;
      font-size: 16px;
      color: #d3d3d3;
      text-align: center;
    }
    #myrow p span{
      font-size: 16px;
    }
    #myrow p span span{
      font-size: 16px !important;
    }
    .mybtn{
      padding: 7px 7px;
      color: white;
      background-color: black;
      border-radius: 5px;
     display: block;
     margin: auto;
     border: none;
    }
   .mybtn:hover{
      background-color: rgb(17, 17, 17);
    }
    #myrow h2{
      font-size: 25px;
      color: white;
      font-weight: bold;
      font-family: "Roboto",sans-serif;
    }
    #play{
      padding: 10px 0;
    }
  }

  /* ************************8the fliper element on it************************************ */
  #cols div{
    margin: 10px 0;
  }

  #myfliper{
    position: relative;
    margin-top: -150px;
    padding: 0 100px;
   left: 0;
   right: 0;
  }

  .otp1{
    font-size: 46px;
    font-weight: bold;
    margin-top: 40px;
    font-family: "Roboto",sans-serif;
  }
  .otp2{
    font-size:30px;
    margin-top: 30px;
  }
  #myfliper p{
    font-size: 24px;
    font-family: "Roboto",sans-serif;
    color: rgb(141, 141, 141);
    padding: 10px 20px;
  }
  #myfliper h2{
    color: #2680f6;
    font-family: "Roboto",sans-serif;
    opacity: .7;
  }

  @media(max-width:1000px){
    #myfliper{
      position: relative;
      margin-top: -170px;
      padding: 0 10px;
    }
    .flip-card{
      width: 100%;
      height: 400px;
    }


    .otp1{
      font-size: 36px;
      font-weight: bold;
      margin-top: 30px;
      font-family: "Roboto",sans-serif;
    }
    #myfliper p{
      font-size: 17px;
      font-family: "Roboto",sans-serif;
      color: rgb(141, 141, 141);
      padding: 5px 20px;
    }
    #myfliper h2{
      color: #2680f6;
      font-family: "Roboto",sans-serif;
      opacity: .7;
    }
  }
  /* #myfliper col{
    width:100%;
    height: 500px;
   
    background-color: white;
  } */