@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins&family=Roboto:wght@300;400;500&display=swap');

#containerfooter{
    background-color: whitesmoke;
   margin-top: 50px;
   align-items: center;
   padding-top: 40px;
   padding-left: 60px;
   padding-right: 60px;
   overflow-x: hidden;
}
#containerfooter h3{
  font-family: sans-serif;
  font-weight:600;
  font-size: 20px;
}
#containerfooter p{
  font-family: sans-serif;
  font-size: 17px;
  color: gray;
  line-height: 2.5rem;
  margin-left: 15px;
}
#mytopelement{
  margin-top: 20px;
}
#containerfooter ul li{
  font-family: sans-serif;
  font-size: 14px;
  color: gray;
  line-height: 2.4rem;
  transition: color .2s ease;
  cursor: pointer;
}
#containerfooter ul li:hover{
  color:#33a0f8 ;
}
.navbar-brand strong{
  color: #33a0f8;
}
#containerfooter .navbar-brand{
  font-size: 27px;
  letter-spacing: -0.00001rem;
  word-spacing: -0.11rem;
  font-family: "Oswald",sans-serif;
 
}
.divide {
    font-size: 30px;
    display: flex;
    align-items: center;
    width: 100px;
    margin-left: 54px;
    margin-top: -19px;
  }
  .divide img{
    width: 18px ;
    height: 18px;
    object-fit: contain !important;
  }
  
  .divide::before, .divide::after {
    flex: 1;
    content: '';
    padding: .4px;
    background-color:rgb(5, 72, 196);
    margin: 5px;
  }
  .iconfooterfacebook{
    margin: 0 15px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: rgb(39, 113, 252);
    padding: 8px;
    border: 1px solid rgb(39, 113, 252);
    transition: color,border .33s linear;
  }
  .iconfooterfacebook:hover{
    background-color:rgb(39, 113, 252) ;
    color: white;
  }
  #containerfooter ul li span{
    transition: .2s linear;
  }
  #containerfooter ul li span:hover{
    margin-left: 3px;
  }
  .iconfooterlinke:hover{
    background-color:rgb(3, 63, 175) ;
    color: white;
  }
  .differentsicon{
    font-size: 15px;
    margin: 0 2px;
  }
  .iconfooterinta{
    margin: 0 15px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: rgb(223, 10, 124);
    padding: 8px;
    border: 1px solid deeppink;
    transition: color,border .33s linear;
  }
  .iconfooterinta:hover{
    background-color: rgb(227, 8, 125);
    color: white;
  }

 
  #endfooter span{
   font-size: 14px;
   font-family:sans-serif;
   color: gray;
  }
  .texte{
    color:rgb(44, 153, 226) !important;
    font-weight: 600;
    text-decoration:underline dashed rgb(44, 153, 226);
    cursor: pointer;
  }
  @media (max-width:800px){
    #mytopelement{
      margin-top: 5px;
    }
    #containerfooter{
      background-color: rgb(219, 219, 219);
     margin-top: 50px;
     align-items: center;
     padding-top: 10px;
     padding-left: 2px;
     padding-right: 2px;
     padding-bottom: 10px;
  }
  .differentsicon{
    font-size: 13px;
    margin: 0 2px;
  }
 
  #containerfooter p{
    font-family:sans-serif;
    font-size: 16px;
    color: gray;
    line-height: 2.2rem;
    padding:0 16px;
    margin-left: 2px;
  }
  .divide {
    font-size: 30px;
    display: flex;
    align-items: center;
    width: 100px;
    margin-left: 51px;
    margin-top: -19px;
  }
  .divide img{
    width: 15px !important;
    height: 15px !important;
    object-fit: contain !important;
  }
  .iconfooterfacebook{
    margin: 0 9px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: rgb(39, 113, 252);
    padding: 8px;
    border: 1px solid rgb(39, 113, 252);
    transition: color,border .33s linear;
  }
 
 
  #containerfooter ul{
    margin: 0 0;
    padding: 0;
  }
  #containerfooter ul li{
    margin: 0 15px;
    padding: 0;
    line-height: 2.2rem;
    font-size: 16px;
   
  }
  #containerfooter ul li span{
    transition: .2s linear;
  }
  #containerfooter ul li span:hover{
    margin-left: 10px;
  }
  #containerfooter hr{
    padding-left: 10px;
    padding-right: 10px;
  }
  #endfooter span{
    font-size: 16px;
    font-family: sans-serif;
    color: gray;
    margin: 5px 10px;
   }
   #containerfooter h3{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 17px;
  }
  #containerfooter .navbar-brand{
    font-size: 18px;
    letter-spacing: -0.00001rem;
    word-spacing: -0.11rem;
    font-family: "Oswald",sans-serif;
    margin-left: 10px;
   
  }
  #containerfoote .navbar-brand strong{
    font-size: 18px;
    letter-spacing: -0.0009rem;
  word-spacing: -0.09rem;
  font-weight: 500;
  color: #33a0f8;
  }
 

  }
